.my-navbar{
    background-color: var(--main-color);
}
.my-navbar-active{
    background-color: rgba(189, 56, 56, 0.649);
    position: fixed !important;
    width: 100%;
    z-index: 1;
    scroll-behavior: smooth;
}
#my-item .nav-item a{
    color: white;
    margin-right: 50px;
}
.navbar{
    padding: 0 !important;
}
.my-dropdown{
    position: absolute !important;
    transform: translate3d(-226px, 30px , 0px) !important;
    top: 0;
    height: 100vh;
    width: 300px;
}
.my-dropdown a{
    color: black !important;
}
