:root{
  --main-color:#BD3838;
  --second-color:#130101;
  --normalSize-font-size:20px;
  --btnColor-color:#FFD7D7;
}
.title{
  color: white;
  background-color: #130101;
  text-align: center;
  padding: 50px;
  margin: 0;
}